# ~/git_repos/mosquito_virome_pipeline/.gitignore

# Large data directories
/data/
/results/
/logs/
/temp/
/scratch/
/docs/czid_sequence_reports/
/docs/czid_sequence_reports_provisional/
/containers/*.sif

# LSF output files
*.out
*.err

# Temporary files
*.tmp
*.temp
*.swp

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Telegram bot
/scripts/individual_analyses/.env
