# FILES
*.fasta
*.fastq
*.zip 
*.pdf
*.gz
*.fna
*.png
.env
*.treefile

# mac files
scripts/individual_analyses/consensus_sequence_generation_mac.sh
scripts/individual_analyses/contig_coverage_mac.sh
scripts/individual_analyses/orf_prediction_mac.sh

# DIRECTORIES
**/results/aligned/
data/references/
data/czid_raw/
data/raw 
containers/
docs/czid_sequence_reports/
docs/czid_sequence_reports_provisional/
scripts/czid_analysis/sequence_analysis_aedes_aegypti.ipynb